# Ignore all CSV files
*.csv

# Ignore all PNG files
*.png

*/*.png


*.exe

# 例外的に許可するCSVファイル
!projects/NtNdelta/theoretical_values.csv


*.txt

# Ignore files without extension


**/__pycache__/

__pycache__